<div id="list">
  <ul class="nav flex-column">
    <li class="nav-item"><a href="/smovesmoveadmin/show_user" class="nav-link " ><i class="fa fa-map" aria-hidden="true"></i>유저 관리</a></li>
    <li class="nav-item"><a href="/smovesmoveadmin/show_nsmoking" class="nav-link " ><i class="fa fa-registered" aria-hidden="true"></i>금연구역 관리</a></li>
    <li class="nav-item"><a href="/smovesmoveadmin/show_smoke_place" class="nav-link " ><i class="fa fa-list-ul" aria-hidden="true"></i>흡연구역 관리</a></li>
    <li class="nav-item"><a href="/smovesmoveadmin/show_penalty_place" class="nav-link " ><i class="fa fa-registered" aria-hidden="true"></i>단속구역 관리</a></li>
    <li class="nav-item"><a href="/smovesmoveadmin/show_notice" class="nav-link " ><i class="fa fa-list-ul" aria-hidden="true"></i>공지사항 관리</a></li>
    <li class="nav-item"><a href="/smovesmoveadmin/show_qna" class="nav-link " ><i class="fa fa-circle" aria-hidden="true"></i>문의사항 관리</a></li>
  </ul>
</div>
   </div>