    <!-- start head bottom -->
    <div class="bottom">
      <div class="left">
        <h1>관리자 메인 페이지</h1>
      </div>
      <div class="right">
        <!--<h1>dashboard /</h1>-->
        <!--<a href="#">page name</a>-->
      </div>
    </div>
    <!-- end head bottom -->
  <div class="container">
    </div>

<% content_for 'javascript_content' do %>
  <%= javascript_include_tag params[:controller] %>
  <script>
  </script>
<% end %>